<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title><ui:insert name="title">JSF In-class Activity</ui:insert></title>
	<h:outputStylesheet library="css" name="common-style.css" />
	<h:outputStylesheet library="css" name="table-style.css" />
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<script type="text/javascript"
		src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript"
		src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.js" />
	<script type="text/javascript"
		src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" />
				
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		
	<link rel="stylesheet"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />

	<link
		href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
		rel="stylesheet" type="text/css"></link>
	<link
		href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
		rel="stylesheet" type="text/css"></link>
		<style>
		body{
		  background-color: #cccccc;
		  background-image: ("../WeatherProject/WebContent/resources/images/weatherapp2.jpg");
		}
		</style>
</h:head>
<h:body>

	<div id="page">
		<!--  Insert Header Facelet Here -->
		<div id="header" align="center">
			<ui:insert name="header">
				<ui:include src="/layouts/commonHeader.xhtml" />
			</ui:insert>
		</div>

		<!--  Insert Content Facelet Here -->
		<div id="content">
			<f:view>
				<ui:insert name="content">
					<ui:include src="/layouts/commonContent.xhtml" />
				</ui:insert>
			</f:view>
		</div>

		<!--  Insert Footer Facelet Here -->
		<div id="footer" align="center">
			<ui:insert name="footer">
				<ui:include src="/layouts/commonFooter.xhtml" />
			</ui:insert>
		</div>
	</div>
</h:body>
</html>