<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<ui:composition template="/layouts/commonLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">>
		<ui:define name="title"> LOGIN PAGE</ui:define>
		<ui:define name="content">
					<h:outputScript target="body">
    //For calendar
    
    $(".datepicker").datepicker({
    	dateFormat: 'mm-dd-yy',
		changeMonth: true,
		changeYear: true,
		yearRange: "1960:2018"
    });
   
    
 </h:outputScript >
			<!-- Login Form -->
			<div align="center">
				<h:form>
					<div class="form-group">
						<h:outputLabel value="Date From"
							styleClass="control-label col-sm-2" />
						<h:inputText styleClass="datepicker"
							value="#{dates.dateFrom}">
						</h:inputText>

					</div>
					
								
					<div class="form-group">
						<h:outputLabel value="Date To" styleClass="control-label col-sm-2" />
						<h:inputText styleClass="datepicker"
							value="#{dates.dateTo}">
						</h:inputText>
					</div>
									
					<h:commandButton value="See Table Report"
								action="#{weatherController.showWeatherFromTo}"
								styleClass="btn btn-primary" />
								
								
							<h:commandButton value="See Chart Report"
								action="#{weatherController.showWeatherFromToByChart}"
								styleClass="btn btn-primary" />
								
												
					
				</h:form>

			</div>
		</ui:define>
	</ui:composition>


