
	<ui:composition template="/layouts/commonLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<ui:define name="title"> LOGIN PAGE</ui:define>
		<ui:define name="content">
					
	<div id="myDiv">
		<!-- Plotly chart will be drawn inside this DIV -->
		
	</div>
	<h:outputScript target="body">
	var dateFrom = "#{dates.dateFrom}";
var dateTo = "#{dates.dateTo}";
	  var trace1 = {
			    x: [],
			    y: [],
			    mode: 'lines',
			    name: 'Temperature'
			};
		var trace2 = {
			    x: [],
			    y: [],
			    mode: 'lines',
			    name: 'Humidity'
			};
		var trace3 = {
			    x: [],
			    y: [],
			    mode: 'lines+markers',
			    name: 'Pressure'
			};
		    

var jsonData = $.ajax({
    url: "/Weather2/rest/weather/getjsonRange/"+ dateFrom + "/" + dateTo,
    dataType: "json",
  }).done(function (results) {

    // Split timestamp and data into separate arrays

   
    for(let result of results.data){
      trace1.x.push(result.datetime);
      trace1.y.push(result.temperature);
      trace2.x.push(result.datetime);
      trace2.y.push(result.humidity);
      trace3.x.push(result.datetime);
      trace3.y.push(result.pressure);
    }

    var data = [ trace1, trace2, trace3 ];

    var layout = {};

    Plotly.newPlot('myDiv', data, layout);
  });
</h:outputScript>
<a href="LoginPass.xhtml">
   <button>Go Back</button>
</a>
		</ui:define>
	</ui:composition>

